---
import Layout from '@/layouts/Layout.astro';

import Survey from '@/components/Survey';
---

<Layout title="survey">
  <main
    class="grid min-h-full place-items-center bg-white py-24 px-6 sm:py-32 lg:px-8"
  >
    <Survey client:only="react" />
  </main>
</Layout>
